<!-- Button trigger modal -->
<button class="btn btn-primary" (click)="openModal()">
  <i class="bi bi-info-circle-fill"></i>
</button>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Product Details</h4>
              <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <template *ngTemplateOutlet="cardProduct"></template>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
          </div>
      </div>
  </div>
</div>

<!-- Card -->
<ng-template #cardProduct>
  <div class="card" style="width: 18rem;">
      <i class="bi bi-eye" style="color: rgb(33, 27, 208);"></i> <!-- Use the eye icon or choose another one -->
      <img src={{products.imageart}} class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-text">Reference: {{products.reference}}</p>
          <h5 class="card-title">{{products.marque}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{products.prix}} TND</h6>
          <p class="card-text">{{products.designation}}</p>
          <p class="card-text">Available Quantity: {{products.qtestock}}</p>
      </div>
  </div>
</ng-template>
